{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<script src="http://malsup.github.com/jquery.cycle2.js"></script>
{% endblock %}

{% block banner %}
<div class="banner cycle-slideshow" data-cycle-slides="> div">
  <div class="bgimg" style="background: url({% static 'images/computer-desk.jpg' %});">
    <div class="container">
      <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
  <div class="bgimg" style="background: url({% static 'images/greeny.jpg' %});">
    <div class="container">
      <div class="jumbotron">
        <h1>Bloo!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
